<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{todos.task_name}}</li>
                      <li class="list-group-item">{{todos.user}}</li>
                      <li class="list-group-item">{{todos.status}}</li>
                    </ul>
                  </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</body>
</html>